.leito {
  background-color: black;
}

.example-card {
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.justify{
  text-align: justify;
}