<mat-toolbar color="primary" class="toolbar">
  <mat-icon aria-hidden="false">eco</mat-icon>
</mat-toolbar>
<!--CONTEÚDO testando-->
<mat-grid-list cols="3" rowHeight="4:1">
  <!--Card 1-->
  <mat-grid-tile colspan="6" rowspan="6">
    <div class="leito">
      <mat-icon aria-hidden="false">eco</mat-icon>
    </div>
  </mat-grid-tile>
  <!--Card 2-->
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="example-card margin-top-bottom-10">
      <mat-card-header>
        <mat-card-title>Card 2</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--Card 3-->
  <mat-grid-tile colspan="1" rowspan="4">
    <mat-card class="example-card margin-top-bottom-10">
      <mat-card-header>
        <mat-card-title>Card 3</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          at mauris..Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi at mauris..Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi at mauris..Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Morbi at mauris..Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Morbi at mauris..Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Morbi at mauris..Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Morbi at mauris..Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Morbi at mauris..Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          at mauris..Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi at mauris..Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi at mauris..Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Morbi at mauris..Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Morbi at mauris..Lorem ipsum dolor
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--Card 4-->
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="example-card margin-top-bottom-10">
      <mat-card-header>
        <mat-card-title>Card 4</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--Card 5-->
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="example-card margin-top-bottom-10">
      <mat-card-header>
        <mat-card-title>Card 5</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--Card 6-->
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="example-card margin-top-bottom-10">
      <mat-card-header>
        <mat-card-title>Card 6</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
          mauris..
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
