<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="choise-card">
            <mat-card-header>
              <mat-card-title>Áreas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-nav-list *ngFor="let zone of zones | async">
                    <a mat-list-item (click)="selectZone(zone.name)"> {{ zone.name }} </a>
                </mat-nav-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="add_Dialog()">Criar Área</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="selectedZone !== undefined">
        <mat-card class="zone-card">
            <mat-card-header>
              <mat-card-title>{{ selectedZone }}</mat-card-title>
              <mat-card-subtitle>No de Leitos</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
              <h1>{{ (beds | async)?.length }} Leitos</h1>
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <div fxLayout="row">
                  <ng-container *ngIf="beds | async as bedsData">
                    <button mat-button (click)="less_bed(bedsData.length)">Menos</button>
                  </ng-container>
                  <ng-container *ngIf="beds | async as bedsData">
                    <button mat-button (click)="plus_bed(bedsData.length)">Mais</button>
                  </ng-container>
                </div>
                <div>
                  <ng-container *ngIf="beds | async as bedsData">
                    <button mat-button (click)="deleteZone(bedsData.length)">Apagar Área</button>
                  </ng-container>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
