<div fxFill fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Cadastrar Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <form [formGroup]="form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" placeholder="*******">
          </mat-form-field>
        </form>
      </div>
      <span>
        Já tem uma conta?
        <button mat-button routerLink="/auth/sign-in">Log In</button></span>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="register()">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</div>