<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Áreas do Hospital</mat-card-title>
            <mat-card-subtitle>Escolha uma:</mat-card-subtitle>
          </mat-card-header>
        <mat-card-content>
            <mat-nav-list *ngFor="let zone of zones | async">
                <a mat-list-item (click)="selectZone(zone.name)"> {{ zone.name }} </a>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
</div>