
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list>
        <button color="primary" mat-raised-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
        <button color="primary" mat-raised-button routerLink="/leitos-center" routerLinkActive="active" ariaCurrentWhenActive="page">Leitos</button>
    </mat-nav-list>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  
