<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-icon aria-hidden="false">eco</mat-icon>
</mat-toolbar>
<mat-card class="example-card margin-top-bottom-10">
  <mat-card-header>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Sub Title</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/cover.jpg" alt="Cover" />
  <mat-card-content>
    <p class="justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at mauris..
    </p>
  </mat-card-content>
</mat-card>
