<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Reiniciar Senha</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-center">Por favor, diga seu e-mail para eviarmos uma requisição de reiniciar de senha.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="/auth/sign-in">Voltar para entrar?</button>
    </mat-card-actions>
  </mat-card>
</div>