<div fxFill fxLayout="column" fxLayoutAlign="center center" style="background-color:cadetblue">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Entre</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <form [formGroup]="form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" placeholder="*******">
          </mat-form-field>
        </form>
      </div>
      <span>
        Ainda não tem uma conta?
        <button mat-button routerLink="/auth/register-user" color="warn">Cadastrar</button></span>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="/auth/forgot-password" color="accent">Esqueci Senha</button>
      <button mat-button (click)="sign_in()" color="primary">Entre</button>
    </mat-card-actions>
  </mat-card>
</div>