
      <mat-grid-list cols="10">
        <!--LEITO-->
        <mat-grid-tile colspan="1" rowspan="6" class="leito" matRipple>
          <div class="king_bed">
            <mat-icon aria-hidden="false">king_bed</mat-icon><br>
            <h1>{{ (item | async)?.bed_name }}</h1>
          </div>  
        </mat-grid-tile>
        <!--PACIENTE-->
        <mat-grid-tile colspan="3" rowspan="3">
          <mat-card class="card-paciente" matRipple>
            <mat-card-content>
              <mat-list class="example-list-wrapping">
                <mat-list-item lines="4">
                  <span matListItemTitle>Nome</span>
                  <span matListItemLine>{{ (item | async)?.client_name }}</span>
                </mat-list-item>
                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <td>
                      <mat-list-item>
                        <span matListItemTitle>Data de Nascimento</span>
                        <span matListItemLine>31/12/1904</span>
                      </mat-list-item>
                    </td>
                    <td>
                      <mat-list-item>
                        <span matListItemTitle>Idade</span>
                        <span matListItemLine>200 anos</span>
                      </mat-list-item>
                    </td>
                  </tr>
                </table><br>
                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <td >
                      <mat-list-item>
                        <span matListItemTitle>Entrada</span>
                        <span matListItemLine>33/21/3213</span>
                      </mat-list-item>
                    </td>
                    <td >
                      <mat-list-item>
                        <span matListItemTitle>Tempo</span>
                        <span matListItemLine>30 horas</span>
                      </mat-list-item>        
                    </td>
                  </tr>
                </table>
                <mat-list-item>
                  <span matListItemTitle>No de Atendimento</span>
                  <span matListItemLine>3321321321</span>
                </mat-list-item>       
              </mat-list>   
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--LISTA DE PROBLEMAS-->
        <mat-grid-tile colspan="3" rowspan="6">
          <mat-card class="card-problemas" matRipple>
            <mat-card-header>
              <mat-card-title>Lista de Problemas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                P1) ENDOMETRIOSE<br>
                P2) PREGUIÇA<br>
                P3) FALTA DO QUE FAZER
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--CONDUTAS-->
        <mat-grid-tile colspan="3" rowspan="3">
          <mat-card class="card-condutas" matRipple>
            <mat-card-header>
              <mat-card-title>Condutas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
                mauris..
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--DESTINO-->
        <mat-grid-tile colspan="3" rowspan="3">
          <mat-card class="card-destino" matRipple>
            <mat-card-header>
              <mat-card-title>Destino</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at
                mauris..
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--PENDÊNCIAS-->
        <mat-grid-tile colspan="3" rowspan="3">
          <mat-card class="card-pendencias" matRipple>
            <mat-card-header>
              <mat-card-title>Pendências</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #shoes>
                <mat-list-option >
                  Teste
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  