<mat-toolbar  fxLayout="row" fxLayoutAlign="start center" >
    <div class="radio-filter" fxFlex="15" fxFill>
        <mat-radio-group aria-label="Select an option" value="2">
            <mat-radio-button value="1">Meus</mat-radio-button>
            <mat-radio-button value="2">Todos</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-icon-button (click)="scroll_start()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <ng-scrollbar track="horizontal" class="virtual-scroll" thumbClass="white-scrollbars" >
        <div class="bed_list" fxFill >
          <ng-container *ngIf="items | async as bedList">
            <mat-nav-list *ngFor="let item of bedList | orderBy: 'bed_name'" >
              <div class="example-button-row">
                <button mat-fab extended [ngStyle]="{'background-color': item.client_name ? 'green' : 'accent'}"  (click)="selectBed(item.id, box)">
                  <mat-icon>bed</mat-icon>
                  {{ item.id }}
                </button>
              </div>
            </mat-nav-list>
          </ng-container>
          
        </div>
    </ng-scrollbar>
    <button mat-icon-button (click)="scroll_end()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</mat-toolbar>

<div #box>
    <div #box_preenchido class="colorNested" *ngIf="(item | async)?.client_name" fxLayout="row" fxLayoutGap="10px">
      <div #columnA class="boxA" matTooltip="Clique" matRipple (click)="openBottomSheet('bed')" fxFlex="10" fxLayoutGap="10px" fxFill>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon aria-hidden="false">king_bed</mat-icon>
            <h2>{{ (item | async)?.bed_name }}</h2>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Médico:</h2>
            <h3>{{ (item | async)?.doctor }}</h3>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Enfermeiro:</h2>
            <h3>{{ (item | async)?.nurse }}</h3>
          </div>
      </div>
      <div #columnB fxLayout="column" fxFlex="30" fxLayoutGap="10px" fxFill>
      <div #rowB1 class="boxB" fxFlex fxFlex="50" fxLayoutGap="10px" fxFill>
        <mat-card class="card-paciente" fxFill>
          <mat-card-content>
            <div gdColumn="col 2 / span 2" gdRow="row 6" gdGap="5px" gdColumns="1fr 1fr">
              <div gdColumn="1 / span 2" gdRow="1">
                <button mat-button matTooltip="Mudar" (click)="openBottomSheet('client_name')">Nome:</button>
	              <span matListItemTitle>{{ (item | async)?.client_name }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="1" gdRow="3">
                <button mat-button matTooltip="Mudar" (click)="openBottomSheet('birthday')">Data de Nascimento:</button>
	              <span matListItemLine>{{ (item | async)?.birthday.toDate().getTime() | date: 'dd/MM/yyyy' }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="2" gdRow="3">
                <button mat-button matTooltip="Mudar" (click)="openBottomSheet('birthday')">Idade:</button>
	              <span matListItemLine>{{ (item | async)?.birthday.toDate().getTime() | age: 'years' }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="1" gdRow="4">
                <button mat-button>No do Plano:</button>
	              <span matListItemLine>{{ (item | async)?.plan_number }}</span>
                <mat-divider></mat-divider>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div #rowB2 class="boxE" fxFlex="50" fxLayoutGap="10px" fxFill>
        <mat-card class="card-destino" fxFill>
          <mat-card-header>
            <mat-card-title>Panorama</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <span>Alocado: </span>
              <button mat-flat-button color="accent" *ngIf="(item | async)?.state == 'Emergência'" (click)="openBottomSheet('state')" matTooltip="Mudar">Emergência</button>
              <button mat-flat-button color="primary" *ngIf="(item | async)?.state == 'Internamento'" (click)="openBottomSheet('state' )" matTooltip="Mudar">Internamento</button>
            </div>
            <div fxLayout="row">
              <mat-checkbox #g_evolved color="primary" (change)="goal('evolved')" [checked]="!!(item | async)?.goal.evolved">Evoluído</mat-checkbox>
              <mat-checkbox #g_prescribed color="primary" (change)="goal('prescribed')" [checked]="!!(item | async)?.goal.prescribed">Prescrito</mat-checkbox>
              <mat-checkbox #g_tested color="primary" (change)="goal('tested')" [checked]="!!(item | async)?.goal.tested">Exames Solic.</mat-checkbox>
            </div>
            <div>
              <span>Destinação: </span>
              <mat-form-field appearance="fill">
                <mat-select>
                  <mat-option value="A Definir">A Definir</mat-option>
                  <mat-option value="Aguardar 30h">Resolver em 30h</mat-option>
                  <mat-option [value]="zone.name" *ngFor="let zone of zones | async">{{ zone.name }}</mat-option>
                  <mat-option value="Regulação">Regulação</mat-option>
                  <mat-option value="Alta feita">Ir para casa</mat-option>
                </mat-select>
              </mat-form-field>
            </div>         
          </mat-card-content>
        </mat-card>
      </div>
      </div>
      <div #columnC class="boxC" fxLayout="column" fxFlex="30" fxLayoutGap="10px" fxFill>
        <div #rowC1 fxFlex="50" fxLayoutGap="10px" fxFill>
          <mat-card class="card-problemas" fxFill >
            <mat-card-header>
              <mat-card-title>
                <button mat-button matTooltip="Clique" (click)="openBottomSheet('problems_list')">
                  <h1>Lista de Problemas</h1>
                </button>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <p [innerHTML]="(item | async)?.problems_list | text:'text'"></p>
              </div>
            </mat-card-content>          
          </mat-card>
        </div>
        <div #rowC2 fxFlex="50" fxLayoutGap="10px" fxFill>
          <mat-card fxFill >
            <mat-card-header>
              <mat-card-title>
                <button mat-button matTooltip="Clique" (click)="openBottomSheet('notes')">
                  <h1>Anotações</h1>
                </button>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <p [innerHTML]="(item | async)?.notes | text:'text'"></p>
              </div>
            </mat-card-content>          
          </mat-card>
        </div>
      </div>
      <div #columnD fxLayout="column" fxFlex="30" fxLayoutGap="10px" fxFill>
      <div #rowD1 class="boxD" fxFlex="50" fxLayoutGap="10px" fxFill>
        <mat-card class="card-pendencias" fxFill>
          <mat-card-header>
            <mat-card-title>Pendências</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item *ngFor="let item of (item | async)?.check_list | keyvalue" fxFill>
                <mat-checkbox fxFlex="90" color="accent" (change)="check(item)" [checked]="!!item.value">
                  <span>{{ item.key }}</span>
                </mat-checkbox>
                <button fxFlex mat-icon-button color="warn" (click)="delete_check(item.key)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>              
              <mat-list-item fxFill>
                <form [formGroup]="form" (submit)="add_check()">
                  <mat-form-field class="example-form-field" fxFlex="90">
                    <input matInput formControlName="add_check">
                    <mat-label>Acrescente aqui</mat-label>
                  </mat-form-field>
                  <button mat-icon-button (click)="add_check()" fxFlex>
                    <mat-icon color="green">arrow_upward</mat-icon>
                  </button>  
                </form>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div #rowD2 class="boxF" fxFlex="50" fxLayoutGap="10px" fxFill>
        <mat-card class="card-condutas" fxFill>
          <mat-card-header>
            <mat-card-title>
              <button mat-button matTooltip="Clique" (click)="openBottomSheet('conduct')">
                <h1>Condutas</h1>
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <p [innerHTML]="(item | async)?.conduct | text:'text'"></p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>

  
  <div #box_vazio fxLayout="column" fxLayoutAlign="center center" fxFill *ngIf="(item | async)?.client_name == '' " fxLayoutGap="10px">
    <mat-card>
        <mat-card-header>
            <mat-card-title>O {{ (item | async)?.bed_name }} está vazio</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="openBottomSheet('add_client')">Adicionar Paciente</button>
        </mat-card-actions>
    </mat-card>
  </div>

  <div #box_null fxLayout="column" fxLayoutAlign="center center" fxFill *ngIf="(item | async)?.client_name == null" fxLayoutGap="10px">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Escolha um Leito</mat-card-title>
        </mat-card-header>
    </mat-card>
  </div>
</div>