
.example-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 100%; /* 64px é a altura da Toolbar */
  width: 100%;
  padding-top: 54px;
}

.example-container mat-sidenav-content {
  overflow: auto;
  flex: 1;
}
  

  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
    height: 30px;
    
  }
  
  .bed_list{
    display: flex;
    flex-direction: row;
  }

  mat-toolbar{
    background-color: transparent;
    height: 54px;
  }

  .radio-filter{
    z-index: 3;
    padding-right: 8px;
  }

  :host {
    ::ng-deep {
      ng-scrollbar.virtual-scroll {
        --scrollbar-size: 8px;
        --scrollbar-thumb-color: gray;
        --scrollbar-hover-size: 12px;
        --scrollbar-track-color: rgba(0, 0, 0, 0.05);
        --scrollbar-border-radius: 10px;
    
        margin: 1em;
        width: 100%;
        border-radius: 6px;
        border: 1px solid gray;
        overflow: hidden;
      }
    }
  }
  
  .king_bed{
    align-items:center;
  }
  
  .leito {
      background-color:cadetblue;
      cursor: pointer;
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    }
    
    .card-paciente {
      
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .card-destino {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      
    }
    
    .card-problemas {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .card-condutas {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      
    }
    
    .card-pendencias {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      
    }
    
    .justify{
      text-align: justify;
    }
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 3px;
    }
    
    .example-list-wrapping {
      max-width: 500px
    }
  
    .scrollable-element {
      height: 400px;
      overflow-y: scroll;
      overflow-x: scroll;
    }

    .colorNested{
      margin-top: 10px;
      height: 600px; 
      //width: 100%;
    }

    .boxA {
      background-color:cadetblue;
      cursor: pointer;
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    }

    .boxB{
      height: 400px;
    }
    