<mat-toolbar  fxLayout="row" fxLayoutAlign="start center" >
    <div class="radio-filter" fxFlex="15" fxFill>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Meus</mat-radio-button>
            <mat-radio-button value="2">Todos</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-icon-button (click)="scroll_start()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <ng-scrollbar track="horizontal" class="virtual-scroll" thumbClass="white-scrollbars" >
        <div class="bed_list" fxFill >
          <ng-container *ngIf="items | async as bedList">
            <mat-nav-list *ngFor="let item of bedList | orderBy: 'bed_name'" >
              <div class="example-button-row">
                <button mat-fab extended [ngStyle]="{'background-color': item.client_name ? 'green' : 'accent'}"  (click)="selectBed(item.id, box)">
                  <mat-icon>bed</mat-icon>
                  {{ item.id }}
                </button>
              </div>
            </mat-nav-list>
          </ng-container>
          
        </div>
    </ng-scrollbar>
    <button mat-icon-button (click)="scroll_end()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</mat-toolbar>

<div #box>
  <div class="colorNested" style="height: auto; width: 100%;" *ngIf="(item | async)?.client_name">
    <div gdGap="10px" gdColumns="repeat(10, [col] auto)" gdRows="repeat(2, [row] auto)">
      <div class="boxA" gdColumn="col 1/ span 1" gdRow="row / span 40" matRipple (click)="openBottomSheet('bed')">
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon aria-hidden="false">king_bed</mat-icon>
            <h2>{{ (item | async)?.bed_name }}</h2>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Estado:</h2>
            <h3>{{ (item | async)?.state }}</h3>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Médico:</h2>
            <h3>{{ (item | async)?.doctor }}</h3>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Enfermeiro:</h2>
            <h3>{{ (item | async)?.nurse }}</h3>
          </div>
      </div>
      <div class="boxB" gdColumn="col 2 / span 3" gdRow="row / span 20">
        <mat-card class="card-paciente" fxFill>
          <mat-card-content>
            <div gdColumn="col 2 / span 2" gdRow="row 6" gdGap="5px" gdColumns="1fr 1fr">
              <div gdColumn="1 / span 2" gdRow="1">
                <button mat-button (click)="openBottomSheet('client_name')">Nome:</button>
	              <span matListItemTitle>{{ (item | async)?.client_name }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="1" gdRow="3">
                <button mat-button (click)="openBottomSheet('birthday')">Data de Nascimento:</button>
	              <span matListItemLine>{{ (item | async)?.birthday.toDate().getTime() | date: 'dd/MM/yyyy' }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="2" gdRow="3">
                <button mat-button (click)="openBottomSheet('birthday')">Idade:</button>
	              <span matListItemLine>{{ (item | async)?.birthday.toDate().getTime() | age: 'years' }}</span>
                <mat-divider></mat-divider>
              </div>
              <div gdColumn="1" gdRow="4">
                <button mat-button>No do Plano:</button>
	              <span matListItemLine>{{ (item | async)?.plan_number }}</span>
                <mat-divider></mat-divider>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="boxC" gdColumn="col 5/ span 3" gdRow="row / span 40">
        <mat-card class="card-problemas" matRipple fxFill (click)="openBottomSheet('problems_list')">
          <mat-card-header>
            <mat-card-title>Lista de Problemas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ formatProblemsList((item | async)?.problems_list) }}
          </mat-card-content>          
        </mat-card>
      </div>
      <div class="boxD" gdColumn="col 8/ span 3" gdRow="row / span 20">
        <mat-card class="card-pendencias" fxFill>
          <mat-card-header>
            <mat-card-title>Pendências</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list #shoes>
              <mat-list-option >
                
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="boxE" gdColumn="col 2/ span 3" gdRow="row 20/ span 20">
        <mat-card class="card-destino" matRipple fxFill>
          <mat-card-header>
            <mat-card-title>Destino</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>
      </div>
      <div class="boxF" gdColumn="col 8/ span 3" gdRow="row 20/ span 20" >
        <mat-card class="card-condutas" matRipple fxFill>
          <mat-card-header>
            <mat-card-title>Condutas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFill *ngIf="!(item | async)?.client_name">
    <mat-card>
        <mat-card-header>
            <mat-card-title>O {{ (item | async)?.bed_name }} está vazio</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="openBottomSheet('add_client')">Adicionar Paciente</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>