<mat-toolbar>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Meus</mat-radio-button>
        <mat-radio-button value="2">Todos</mat-radio-button>
    </mat-radio-group>
<mat-nav-list *ngFor="let item of items | async" >
    <div class="example-button-row">
    <button mat-fab extended color="accent" (click)="gobed(item.id)">
        <mat-icon>eco</mat-icon>
        {{ item.bed_name }}
    </button>
    </div>
</mat-nav-list>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
